<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
  <link rel="shortcut icon" href="img/logo.png">
  <title>Hunger Cafe : Menu</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="img/logo.png" /> Hunger Cafe </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active disabled" href="#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="parallax">
    <div class="heading">

    </div>
  </div>
  <br>

  <div class="container">
    <div class="menu-title">
      <div class="menu-head">
        <img class="img-fluid" src="img/logo.png" />
        <h2>Hunger Cafe</h2>
      </div>
      <br>
      <p>Our Cafe usually opens at 8:00 am to 8:00 pm and 8:00 am to 11:00 pm on Weekends. Please inform your server of
        any allergies or dietary restrictions. “Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs
        may increase your risk of foodborne illness, especially if you have certain medical conditions.For the parties
        of six or more we may add 20% service charge
        $3.50 substitutions and menu changes
        We accept maximum of 3 credit cards per table.</p>
      <h1>OUR MENU</h1>
      <div class="menu-buttons text-center">
        <button data-filter="*">All</button>
        <button data-filter=".brunch">Brunch</button>
        <button data-filter=".dinner">Lunch/Dinner</button>
        <button data-filter=".beverages">Beverages</button>
        <button data-filter=".desserts">Desserts</button>
      </div>
      <br>
    </div>
    <div class="container ">
      <div class="row grid">
        <div class="col-md-6 p-4 item brunch">
          <h2>Brunch</h2>
          <div class="menu-dish">
            <p class="dish-name">Eggs Benedict</p>
            <p class="dish-price">$16</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Smoked Salmon Benedict</p>
            <p class="dish-price">$20</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Eggs Florentine</p>
            <p class="dish-price">$19</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Avocado Benedict</p>
            <p class="dish-price">$18</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Spinach, Ricotta & Scallions</p>
            <p class="dish-price">$16</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Curbside Frittata</p>
            <p class="dish-price">$19</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Corned Beef Hash</p>
            <p class="dish-price">$19</p>
          </div>
        </div>
        <div class="col-md-6 offset-md-1 p-4 item dinner">
          <h2>Lunch/Dinner</h2>
          <br>
          <h3>Soups</h3>
          <div class="menu-dish">
            <p class="dish-name">French Onion (Crock only)</p>
            <p class="dish-price">11.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Soup du Jour</p>
            <p class="dish-price">$13.50</p>
          </div>
          <br>
          <h3>Salads</h3>
          <div class="menu-dish">
            <p class="dish-name">Mixed Field Greens</p>
            <p class="dish-price">$12.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Cobb Salad</p>
            <p class="dish-price">$19.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Caesar Salad</p>
            <p class="dish-price">$15</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Chicken Szechwan Salad</p>
            <p class="dish-price">$19.50</p>
          </div>
          <br>
          <h3>ENTREES</h3>
          <div class="menu-dish">
            <p class="dish-name">Shrimp & Scallop Scampi</p>
            <p class="dish-price">$24.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Chicken Picatta</p>
            <p class="dish-price">$19</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Curbside Specialty Crab Cakes</p>
            <p class="dish-price">$26</p>
          </div>          
          <br>
          <h3>APPETIZERS</h3>
          <div class="menu-dish">
            <p class="dish-name">Fried Calamari</p>
            <p class="dish-price">$14.50</p>
          </div>          
          <div class="menu-dish">
            <p class="dish-name">Fresh Mozzarella & Tomato</p>
            <p class="dish-price">$14.50</p>
          </div>          
          <div class="menu-dish">
            <p class="dish-name">3-Cheese Raviolis</p>
            <p class="dish-price">$14.50</p>
          </div>   
          <br>
          <h3>MAIN COURSE</h3>       
          <div class="menu-dish">
            <p class="dish-name">Chicken & Mushroom Risotto</p>
            <p class="dish-price">$23</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Indian Chicken Curry</p>
            <p class="dish-price">$23</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Curbside Burger</p>
            <p class="dish-price">$17.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Slow Cooked Pot Roast</p>
            <p class="dish-price">$24</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Shrimp & Scallop Scampi</p>
            <p class="dish-price">$27</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Curbside Specialty Crab Cakes</p>
            <p class="dish-price">$27</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Eggplant Ricotta Roulade</p>
            <p class="dish-price">$21</p>
          </div>
        </div>
        <div class="col-md-6 offset-md-1 p-4 item beverages">
          <h2>Beverages</h2>
          <div class="menu-dish">
            <p class="dish-name">Regular or Decaffeinated Coffee/Espresso</p>
            <p class="dish-price">$3.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Cappuccino / Café Latte / Mocha / Hot Chocolate</p>
            <p class="dish-price">$4.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Tropical Iced Tea</p>
            <p class="dish-price">$3.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Fresh Squeezed Orange Juice</p>
            <p class="dish-price">$6.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Orange, Grapefruit, V8-Tomato, Lemonade, Apple, Cranberry, Pomegranate-Lime</p>
            <p class="dish-price">$4.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Diet Coke, Regular Coke, Sprite</p>
            <p class="dish-price">$3.50</p>
          </div>
        </div> 
        <div class="col-md-6 p-4 item desserts">
          <h2>Desserts</h2>
          <div class="menu-dish">
            <p class="dish-name">Bread Pudding</p>
            <p class="dish-price">$9.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Vanilla Creme Brulée</p>
            <p class="dish-price">$9.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Mousse au Chocolat</p>
            <p class="dish-price">$9.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Chocolate Brownie</p>
            <p class="dish-price">$9.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Ice Cream</p>
            <p class="dish-price">$9.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Dessert Wines</p>
            <p class="dish-price">$10.50</p>
          </div>
          <div class="menu-dish">
            <p class="dish-name">Cheese Plate</p>
            <p class="dish-price">$16.50</p>
          </div>
        </div>  

      </div>
    </div>
  </div>

 

  <br>
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2015 Copyright:
      <a class="text-reset fw-bold" href="#">Hunger Cafe</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
<!-- <script src="/node_modules/jquery/dist/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="main.js"></script>
<script>


  $('.grid').isotope({
    itemSelector: '.item',
    percentPosition: true,
    masonry: {
      // use outer width of grid-sizer for columnWidth
      columnWidth: '.item'
    }
  })

  $('.menu-buttons').on('click', 'button', function () {
    var selector = $(this).attr('data-filter');
    $('.grid').isotope({
      filter: selector
    });
    return false;
  });

</script>

</html>